$ctx = wrapper
$root = s('.%s', $ctx)

{$root} {
    width 300px
    padding 20px

    &__handler {
        margin-top 20px
        padding 10px
        color #FFF
        background #F00
        cursor pointer

        &:hover {
            background #900
        }
    }
}